body {
    background-color: #000000;
    display: grid;
    place-items: center;
    height: 100vh;
    font-family: 'Nanum Gothic', sans-serif;
  }
  h1 {
    color: white;
    text-align: center;
    font-size: 70px;
  }
  table {
    border-collapse: collapse;
    background-color: black;
    table-layout: auto;
    width: auto;         
  }
  td {
    border: 1px solid white;
    padding: 20px;
    text-align: center;
  }
  td.mobile{
    display: none;
  }
  td.desktop{
    display: table-cell;
  }
  .image-container .img {
    height: 400px;
    object-fit: cover;
  }
  .font-style {
    text-decoration: none;
    display: block;
    font-size: 30px;
    color: white;
    text-align: center;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 15vh;
    padding: 10px;
    box-sizing: border-box;
  }


/* 태블릿 기기(화면 너비 768px 이하) */
@media (max-width: 932px) {
    html, body{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    h1 {
        font-size: 40px;
    }

    table {
        width: 100%;
    }

    td {
        padding: 10px;
    }
    .container {
        width: 100%;
    }
    .img {
        width: 100%;
    }

    .font-style {
        font-size: 20px;
    }
}

/* 작은 모바일 기기(화면 너비 480px 이하) */
@media (max-width: 480px) {
    html, body{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    h1 {
        font-size: 30px;
    }

    table, thead, tbody, th, td, tr {
        display: block;
      }
    
      /* 이미지 행을 전체 너비로 설정 */
      table tr:first-child td {
        text-align: center;
      }
    
      /* 언어 선택 행을 가로로 정렬 */
      table tr:nth-child(2) td {
        display: flex;
        justify-content: center;
        gap: 20px;
      }
    
      /* 링크 행을 하나의 열로 정리 */
      table tr:nth-child(3) td {
        display: block;
      }
    
      table tr:nth-child(3) td p {
        margin-bottom: 10px;
      }
      td.mobile{
        display: block;
      }
      td.desktop{
        display: none;
      }
      tr.desktop{
        display: none;
      }
}